# Node deps and build artifacts
node_modules
build

# Python code & deps (for web build)

Dockerfile.api

# Git, logs, editor files
.git
.DS_Store
*.log

# Compose, readmes, misc
docker-compose.yaml
README.md
